main {
    position: relative;
    max-width: 300px;
    width: 100%;
    margin: auto;
    padding: 30px 20px;
    background: whitesmoke;
    border: 1px solid #aaa;
}

.error {
    font-family: monospace;
    color: red;
    margin: 10px auto;
    text-align: center;
    min-height: 1.2rem;
    line-height: 1.2rem;
}